<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
    <title>RelationsCheck</title>
  </head>
  <body>
    <h2>Relation: <wo:string value = "$data.id" /></h2>
    <h3>
      <wo:loop list = "$data.ways" item = "$foundWay">
        Way: 
        <wo:str value = "$foundWay.id" />
        <br />
      </wo:loop>
    </h3>
    <h4>
      Connections:<br />
      <wo:loop list = "$connections" item = "$foundConnection">
        Lat: 
        <wo:str value = "$foundConnection.latitude" />
        <br />
        Long: 
        <wo:str value = "$foundConnection.longitude" />
        <br />
        <wo:loop list = "$foundConnection.ways" item = "$foundWay">
          Way: 
          <wo:str value = "$foundWay.id" />
          <br />
        </wo:loop>
        <br />
      </wo:loop>
      Is connected: 
      <wo:str value = "$data.isConnected" />
      <br />
    </h4>
  </body>
</html>