<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
    <title>OSM Relations</title>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity = "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin = "anonymous" />
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity = "sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin = "anonymous" />
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity = "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin = "anonymous">
    </script>
  </head>
  <body>
    <h2 align = "center">OSM Relations</h2>
    <wo:not condition = "$authenticated">
      <wo:form action = "$authenticate"> &nbsp;&nbsp;<wo:WOPasswordField value = "$pass" /> </wo:form>
    </wo:not>
    <wo:else>
      <div class = "container">
        <wo:form>
          <p align = "right">
            <wo:link action = "$addOne">Add&nbsp;Relation&nbsp;or&nbsp;Way</wo:link>
            <br />
            <wo:link action = "$showAllRelations">Show All</wo:link>
            or 
            <wo:link action = "$showOnlyGoodRelations">Show Good</wo:link>
            or 
            <wo:link action = "$showOnlyBadRelations">Show Bad</wo:link>
            <br />
            <wo:link pageName = "RelationUpdates">Show Data Updates</wo:link>
            <wo:if condition = "$selectedRelationSet">
              <br />
              <wo:link action = "$clearRelationSet">Clear Set Selection</wo:link>
            </wo:if>
          </p>
          <wo:not condition = "$selectedRelationSet">
            <table class = "table">
              <thead>
                <tr>
                  <th> Name </th>
                </tr>
              </thead>
              <tbody>
                <wo:loop list = "$relationSets" item = "$relationSet">
                  <tr>
                    <td>
                      <wo:link action = "$selectRelationSet"><wo:str value = "$relationSet.name" /></wo:link>
                    </td>
                  </tr>
                </wo:loop>
              </tbody>
            </table>
          </wo:not>
          <wo:else>
            <h2><wo:str value = "$selectedRelationSet.name" /></h2>
            <table class = "table">
              <thead>
                <tr>
                  <th>
                    <wo:link action = "$sortByName">Name</wo:link>
                  </th>
                  <th>
                    <wo:link action = "$sortByPlace">Place</wo:link>
                  </th>
                  <th>URL</th>
                  <th>Checked</th>
                  <th>Note</th>
                </tr>
              </thead>
              <tbody>
                <wo:loop list = "$selectedRelationSet.relations" item = "$relation">
                  <tr>
                    <td>
                      <wo:AjaxInPlace>
                        <wo:ERXWOTemplate templateName = "view"><wo:str value = "$relation.name" /></wo:ERXWOTemplate>
                        <wo:ERXWOTemplate templateName = "edit"><wo:WOTextField value = "$relation.name" /></wo:ERXWOTemplate>
                      </wo:AjaxInPlace>
                    </td>
                    <td>
                      <wo:AjaxInPlace>
                        <wo:ERXWOTemplate templateName = "view"><wo:str value = "$relation.place" /></wo:ERXWOTemplate>
                        <wo:ERXWOTemplate templateName = "edit"><wo:WOTextField value = "$relation.place" /></wo:ERXWOTemplate>
                      </wo:AjaxInPlace>
                    </td>
                    <td>
                      <wo:AjaxInPlace>
                        <wo:ERXWOTemplate templateName = "view">
                          <wo:link href = "$relation.fullUrl"><wo:str value = "$relation.url" /></wo:link>
                        </wo:ERXWOTemplate>
                        <wo:ERXWOTemplate templateName = "edit"><wo:WOTextField value = "$relation.url" /></wo:ERXWOTemplate>
                      </wo:AjaxInPlace>
                    </td>
                    <wo:if condition = "$relation.lastCheck.checkResult">
                      <td>
                        <wo:AjaxInPlace>
                          <wo:ERXWOTemplate templateName = "view"><wo:str value = "$relation.lastCheck.checkedTime" dateformat = "%Y-%m-%d" /></wo:ERXWOTemplate>
                          <wo:ERXWOTemplate templateName = "edit">N/A</wo:ERXWOTemplate>
                        </wo:AjaxInPlace>
                      </td>
                    </wo:if>
                    <wo:else>
                      <td bgcolor = "red">
                        <wo:AjaxInPlace>
                          <wo:ERXWOTemplate templateName = "view"><wo:str value = "$relation.lastCheck.checkedTime" dateformat = "%Y-%m-%d" /></wo:ERXWOTemplate>
                          <wo:ERXWOTemplate templateName = "edit">N/A</wo:ERXWOTemplate>
                        </wo:AjaxInPlace>
                      </td>
                    </wo:else>
                    <td>
                      <wo:AjaxInPlace>
                        <wo:ERXWOTemplate templateName = "view">
                          <wo:if condition = "$relation.note"><wo:str value = "$relation.note" /></wo:if>
                          <wo:else>...</wo:else>
                        </wo:ERXWOTemplate>
                        <wo:ERXWOTemplate templateName = "edit"><wo:WOTextField value = "$relation.note" /></wo:ERXWOTemplate>
                      </wo:AjaxInPlace>
                    </td>
                    <td>
                      <wo:ERXDataHyperlink pageName = "RelationDetail" relation = "$relation">Det</wo:ERXDataHyperlink>&nbsp;/&nbsp;<wo:link action = "$verifyRelation">Ver</wo:link>
                    </td>
                  </tr>
                </wo:loop>
              </tbody>
            </table>
          </wo:else>
        </wo:form>
      </div>
    </wo:else>
  </body>
</html>