{
    attributes = (
        {
            columnName = "checked_time";
            externalType = DATETIME;
            name = checkedTime;
            valueClassName = NSCalendarDate;
            valueType = T;
        },
        {
            className = "java.lang.Number";
            columnName = "check_result";
            externalType = INT;
            name = checkResult;
            precision = 10;
            valueType = l;
        },
        {
            allowsNull = Y;
            columnName = message;
            name = message;
            prototypeName = varchar255;
        },
        {
            allowsNull = Y;
            columnName = "osm_update_date";
            externalType = varchar;
            name = osmUpdateDate;
            valueClassName = NSString;
            width = 34;
        },
        {
            className = "java.lang.Number";
            columnName = pk;
            externalType = INT;
            name = pk;
            precision = 10;
            valueType = l;
        },
        {
            className = "java.lang.Number";
            columnName = "relation_pk";
            externalType = INT;
            name = relationPk;
            precision = 10;
            valueType = l;
        }
    );
    attributesUsedForLocking = (pk, relationPk);
    className = "org.ganymede.boundaries.eo.OsmRelationCheck";
    classProperties = (checkedTime, checkResult, message, osmUpdateDate, relation);
    externalName = "osm_relation_checks";
    fetchSpecificationDictionary = {};
    name = OsmRelationCheck;
    primaryKeyAttributes = (pk);
    relationships = (
        {
            destination = OsmRelation;
            isMandatory = Y;
            isToMany = N;
            joinSemantic = EOInnerJoin;
            joins = ({destinationAttribute = pk; sourceAttribute = relationPk; });
            name = relation;
        }
    );
}
